<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label v-for="item in 5">
          <input v-model="checked" type="radio" name="meetupId" :value="item" />
          {{ item }}
        </label>
        <hr />
        <div>
          <p v-if="loading">Загрузка...</p>
          <p v-else-if="error"></p>
          <h3 v-else >{{ meetup.title }}</h3>
        </div>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
